[Service]
Environment=HOME=/home/ubuntu
ExecStart=/home/ubuntu/go/bin/litd --uipassword=litdpassworddionee
Restart=always
RestartSec=30
StandardOutput=null
StandardError=null
SyslogIdentifier=lnd
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target