# IOS
build/lnorb-ios/lnorb.xcodeproj/
build/lnorb-ios/lnorb/Images.xcassets/
build/lnorb-ios/YourApp/

icons
user_scripts.json
*.spec
*.pyc
*.build
.DS_Store
tutes
tmp.py
*.ini
orb.json
__pycache__
.idea
docs/docsbuild
build/
orb.spec
autobalance.yaml
fees.yaml
fees_meta.yaml
orb/store/scripts.yaml
scripts.yaml
