# IOS and DESKTOP

kivymd==0.104.2
peewee==3.14.8
python-dateutil==2.8.2
kivy_garden.graph==0.4.0
PyYaml==6.0
simplejson==3.17.6

# DESKTOP ONLY

Kivy==2.1.0.dev0
google-api-python-client
grpcio
ffpyplayer==4.2.0


# requirements are slowly being copied to the third_party directory
# for security reasons.

# https://github.com/vaab/colour/tree/0.1.5
# https://github.com/kivy-garden/garden.contextmenu
# https://github.com/arrow-py/arrow.git
# https://github.com/lincolnloop/python-qrcode
# https://github.com/MicroPyramid/forex-python/tree/v1.8
# https://github.com/dhermes/bezier/tree/2021.2.12
# https://github.com/arshadkazmi42/currency-symbols/tree/v2.0.1
