google-api-python-client
simple-chalk
git+https://github.com/kivy/kivy.git
qrcode
grpcio
yachalk
kivymd
kivy_garden.contextmenu
pygments
peewee
arrow
kivy_garden.graph
humanize
currency-symbols
forex-python
colour
bezier
pygame
PyYaml
ffpyplayer