pyarmor==6.6.2
fabric
pyinstaller==4.9
semver
requests
gitpython
sphinx
karma-sphinx-theme
sphinxcontrib.asciinema
boto3
rsa
gitpython
pytest
jaraco.text

# site

uvicorn
fastapi
orjson
gitpython
nameko
sqlalchemy
sqlalchemy_utils
python-multipart
toml
passlib
python-jose
psycopg2-binary
arrow
nameko_sqlalchemy
