include rln
include VERSION
include rlnd/fabfile.py
include rlnd/commands/__init__.py
include rlnd/commands/aws.py
include rlnd/commands/bos.py
include rlnd/commands/btc.py
include rlnd/commands/lnd.py
include rlnd/commands/ssh.py
include rlnd/commands/system.py
include rlnd/commands/prefs.py
include rlnd/commands/tor.py
include rlnd/commands/wallet.py
include rlnd/commands/utils.py
include rlnd/confs/bitcoin.conf.main
include rlnd/confs/bitcoin.conf.tor
include rlnd/confs/lnd.conf
include rlnd/confs/lnd.service
include rlnd/confs/logrotate
