//
// cta.scss
//

.bg-web-desc {
	background: url('../images/img-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg-get-start {
	background: url('../images/img-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
