/*
* @Author: lnorb.com
* @Date:   2022-01-31 09:11:58
* @Last Modified by:   lnorb.com
* @Last Modified time: 2022-02-18 08:06:23
*/

/*@import "https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:700&amp;subset=latin-ext";

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 700;
    font-family: "Saira Extra Condensed", Arial, sans-serif;
}

*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Sarabun:wght@400;500;600;700&display=swap');
body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden !important;
    position: relative;
}

a {
    color: #3390c5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
}

h1, h2, h3 {
    text-transform: uppercase;
}

cite {
    color: red;
}

p {
    /*color: #858d96 !important;*/
}

/*p, a, li {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 18px;
}
*/
header{
    /*background-image: url("https://s3-us-east-2.amazonaws.com/lnorb/docs/bg.jpeg_2022-01-31_07-09-16.png");*/
    /*background-size: cover;*/
}

@import https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300





