name: build and deploy site
on:
  push:
    branches: [ site ]
jobs:
  build_linux:
    runs-on: ubuntu-20.04
    env:
      os-name: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: cd site && npm install
      - run: cd site && npm run build
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install fabric semver requests
      - run: python ./build.py site.upload
